In [13]:
import numpy as np
import pandas as pd

In [14]:
# Try reading the CSV file with different encodings
encodings_to_try = ['utf-8', 'latin-1', 'ISO-8859-1']

In [15]:
df= []
for encoding in encodings_to_try:
    try:
        df = pd.read_csv("spam.csv", encoding=encoding)
        print(f"Successfully read the file with encoding: {encoding}")
        break  # Stop trying encodings once successful
    except UnicodeDecodeError:
        print(f"Failed to read with encoding: {encoding}")

Failed to read with encoding: utf-8
Successfully read the file with encoding: latin-1

In [16]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
3112,ham,"Wat time liao, where still got.",NaN,NaN,NaN
2407,ham,Solve d Case : A Man Was Found Murdered On &l...,NaN,NaN,NaN
1643,ham,U WILL SWITCH YOUR FONE ON DAMMIT!!,NaN,NaN,NaN
462,spam,"UpgrdCentre Orange customer, you may now claim...",NaN,NaN,NaN
5382,ham,"I can make it up there, squeezed &lt;#&gt; b...",NaN,NaN,NaN

In [17]:
df.shape

(5572, 5)

## 1. Data Cleaning

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [19]:
# drop the last three columns
df.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"], inplace=True)

In [20]:
df.sample(5)

        v1                                                 v2
5040   ham  She ran off with a younger man. we will make p...
1697   ham  Hai priya are you right. What doctor said pa. ...
2668  spam  Wanna get laid 2nite? Want real Dogging locati...
2641  spam  You are guaranteed the latest Nokia Phone, a 4...
4276   ham           I'm glad. You are following your dreams.

In [21]:
# rename the columns
df.rename(columns={"v1": "target", "v2": "text"}, inplace=True)